<div class="color-footer">
  <div class="container footer text-center">
    <div class="row">
      <div class="col-xs-6 col-md-4 footer-dl">
        <p>Get the app:</p>
        <%= image_tag "ios.png", id: "ios" %> <%= image_tag "Android.png", id: "android" %>
      </div>
      <div class="col-xs-6 col-md-4">
        <p>Pacificatiestraat 22</p>
        <p>2000 Antwerpen</p>
        <p><%= link_to "martijn@seal-jobs.com", "mailto:martijn@seal-jobs.com" %></p>
      </div>
      <div class="col-xs-6 col-md-4 social">
        <p>Get social:</p>
            <%= link_to "https://www.facebook.com/Seal.jobs/" do %><i class="fa fa-facebook-square"></i><% end %>
            <%= link_to "https://www.instagram.com/seal_jobs/" do %><i class="fa fa-instagram"></i><% end %>
            <%= link_to "https://twitter.com/Seal_jobs" do %><i class="fa fa-twitter-square"></i><% end %>
            <%= link_to "https://www.linkedin.com/company/seal-jobs" do %><i class="fa fa-linkedin-square"></i><% end %>
      </div>
    </div>
  </div>
</div>
