<div class="home-bg">
  <div class="transparent">
    <nav class="navbar navbar-default" id="homepage-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="pull-left"><%= image_tag "header-logo.png", id: "seal-logo" %></a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <div class="col-xs-1">
            <%= link_to "https://www.facebook.com/Seal.jobs/" do %><i class="fa fa-facebook-square"></i><% end %>
          </div>
          <div class="col-xs-1">
            <%= link_to "https://www.instagram.com/seal_jobs/" do %><i class="fa fa-instagram"></i><% end %>
          </div>
          <div class="col-xs-1">
            <%= link_to "https://twitter.com/Seal_jobs" do %><i class="fa fa-twitter-square"></i><% end %>
          </div>
          <div class="col-xs-1">
            <%= link_to "https://www.linkedin.com/company/seal-jobs" do %><i class="fa fa-linkedin-square"></i><% end %>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%=  link_to "Wat is Seal?", :anchor => "home-two", id:"wat" %></li>
            <li><%=  link_to "Hoe werkt Seal?", :anchor => "tabs-users" %></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    <div class="container first-slide">
      <div class="row">
        <div class="col-xs-12">
          <div class="first-slide-text">
            <h1>Like, Match & Seal The Deal.</h1>
            <p>Seal is een simpel, snel en online uitzendkantoor.</p>
          </div>
          <div class="newsletter col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-xs-12">
                <h2>Blijf op de hoogte van Seal!</h1>
              </div>
            </div>
            <div class="row">
              <%= simple_form_for @email do |f| %>
              <div class="col-xs-10">
                <%= f.input :name, label: false, placeholder: "e-mailadres" %>
              </div>
              <div class="col-xs-2 ">
                <button type="submit" class="btn btn-primary" id="submit-mail">
                  <i class="fa fa-check"></i>
                </button>
              </div>
              <% end %>
            </div>
            <p>Wees gerust. Er wordt geen spam verstuurd!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="download-app">
      <span id="dl-app">Binnenkort verkrijgbaar op</span> <%= image_tag "ios.png", id: "ios" %> <%= image_tag "Android.png", id: "android" %>
    </div>
  </div>
</div>

<!-- explain features -->
<div class="homepage-two text-center" id="home-two">
  <div class="container">
    <div class="row explain-features">
      <div class="col-xs-12 col-md-4">
        <div class="circle-img">
          <%= image_tag "match-icon.png" %>
          <h2>Matching</h2>
          <p>Need a candidate fast? Get a perfect match in less than a day.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag "headhunt-icon.png" %>
        <h2>Headhunting</h2>
        <p>Not sure about one? Search our huge community for more options.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag "hot-now-icon.png" %>
        <h2>Hot Right Now</h2>
        <p>Looking for the best of the best? Browse the hot list.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 tabs-users" id="tabs-users">
        <a data-toggle="tab" href="#first" class="active blue-one" id="first-one">LOOKING FOR A JOB</a>
        <a data-toggle="tab" href="#second" class="grey-one" id="second-one">LOOKING TO HIRE</a>
      </div>
    </div>
  </div>
</div>
<!-- steps how it works -->

<div class="tab-content">
  <div id="first" class="tab-pane fade in active">
    <div class="container step-one">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "android-iphone.png", class: "dont-show" %>
        </div>
        <div class="col-xs-12 col-md-6 text-div">
          <div class="info-text">
            <h1>Stap 1: Maak een profiel aan en geef je zoekcriteria op.</h1>
          </div>
          <br>
          <p>
            Vul zowel je profiel als zoekcriteria zo zorgvuldig mogelijk in en wij vinden meteen de passende jobs voor jou.
          </p>
          <%= link_to "#", class: "cta-btn-slide" do %>
            Maak een profiel aan
          <% end %>
        </div>
      </div>
    </div>
    <div class="step-two">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 text-div">
            <div class="info-text">
              <h1>Stap 2: Kies vacatures die je aanspreken en vind een match.</h1>
            </div>
            <br>
            <p>
              Keur vacatures goed en ontdek onmiddellijk of deze interesse wederzijds is.
            </p>
            <%= link_to "#", class: "cta-btn-slide" do %>
              Begin vacatures te bekijken
            <% end %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag "macbook.png", class: "dont-show" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container step-three">
      <div class="row">
        <div class="col-xs-12 col-md-6 img-div">
          <%= image_tag "chat-example.png", class: "dont-show" %>
        </div>
        <div class="col-xs-12 col-md-6 text-div">
          <div class="info-text">
            <h1>Stap 3: Chat met je werkgever en ‘Seal The Deal’!</h1>
          </div>
          <br>
          <p>
            Sla een praatje met je ‘mogelijk’ volgende werkgever en kom zo te weten of dit de ideale job is voor jou.
            Na het kennismakingsgesprek Seal je de deal!
          </p>
          <%= link_to "#", class: "cta-btn-slide" do %>
            Ga aan de slag!
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="second" class="tab-pane fade">
    <div class="container step-one">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "android-iphone.png", class: "dont-show" %>
        </div>
        <div class="col-xs-12 col-md-6 text-div">
          <div class="info-text">
            <h1>Stap 1: Vul je bedrijfsprofiel in en maak een vacature aan.</h1>
          </div>
          <br>
          <p>
            Maak een account aan voor jouw bedrijf en zet in enkele muisklikken jouw vacature online.
          </p>
          <%= link_to "#", class: "cta-btn-slide" do %>
            Maak een profiel aan
          <% end %>
        </div>
      </div>
    </div>
    <div class="step-two">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 text-div">
            <div class="info-text">
              <h1>Stap 2: Screen en selecteer geschikte kandidaten.</h1>
            </div>
            <br>
            <p>
              Analyseer verschillende kandidaat profielen en baseer hierop je keuze om jouw vacature te bezetten.
            </p>
            <%= link_to "#", class: "cta-btn-slide" do %>
              Begin vacatures te bekijken
            <% end %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag "macbook.png", class: "dont-show" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container step-three">
      <div class="row">
        <div class="col-xs-12 col-md-6 img-div">
          <%= image_tag "chat-example.png", class: "dont-show" %>
        </div>
        <div class="col-xs-12 col-md-6 text-div">
          <div class="info-text">
            <h1>Stap 3: Chat met je werkgever en Seal The Deal!</h1>
          </div>
          <br>
          <p>
            Voer een online sollicitatiegesprek met je ‘mogelijk’ volgende werknemer en kom zo te weten of hij/zij de ideale kandidaat voor jou is.
            Merk je dat deze persoon competent is, Seal dan de deal!
          </p>
          <%= link_to "#", class: "cta-btn-slide" do %>
            Ga aan de slag!
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- map div -->
<div class="map">
  <div class="transparent">
    <h1>Vind jouw job of werknemer nu op een snelle en simpele manier.</h1>
    <%= link_to "#", class: "cta-btn-slide" do %>
      Vind jobs of werknemer
    <% end %>
  </div>
</div>

